@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-main: "Figtree", sans-serif;
}

.small-responsive-text {
  font-size: calc(14px + ((21 - 14) * (100vw - 390px) / (1728 - 390)));
}

body {
  /* @apply bg-gradient-to-bl from-zinc-200 to-zinc-50; */
  @apply bg-linear-to-bl from-zinc-50/80 via-purple-50/65 to-yellow-50/50 bg-fixed;
}

html {
  @apply bg-gray-50;
}
