@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-main: "Figtree", sans-serif;
}

.small-responsive-text {
  font-size: calc(14px + ((21 - 14) * (100vw - 390px) / (1728 - 390)));
}

html,
body {
  /* @apply bg-gradient-to-bl from-zinc-200 to-zinc-50; */
  @apply bg-gradient-to-bl from-gray-50 via-red-50 to-gray-50 bg-fixed;
}
